body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ffe44b, #5e4c00);
}

.container {
    background:  linear-gradient(135deg, #74ebd5, #ACB6E5);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 99%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.converter .input-group {
    margin-bottom: 20px;
}

.converter label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.converter input, .converter select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.convert-button {
    padding: 12px 20px;
    background-color: #cec43d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.convert-button:hover {
    background-color: rgb(148, 145, 0);
}

.result {
    margin-top: 30px;
}

.result h2 {
    margin-bottom: 10px;
    color: #333;
}

.result p {
    font-size: 18px;
    color: #007bff;
    word-break: break-all;
}
